#vertical_section1 {
	background:#c0c0c0;
	min-height:1000px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	z-index:2000;
	position:static;
	border-top:solid;
	border-width:1px;
	border-color:transparent;
}

/* without using border i was not able to put section3 into vertical-section1 */
/* The margin clears an area around an element (outside the border) */
/* So i think without border, margins dont work correctly */

#vertical_section1 #section3 {
	background:#ffffff;
	min-height:250px;
	margin-top:300px;
	border-style:dashed;
	border-width:0pt;
	z-index:2005;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	/*border-color:transparent;*/
}

#section3 .bucket {
	border-style:solid;
	border-width:1px;
	border-color:#c1cdcd;
	border-radius:5px;
	height:248px;
	width:223px;
	background:#ffffff;
	z-index:2010;
	float:left;
	/*border-color:transparent;*/
}

#section3 .horizontal_section_1 {
	border-style:solid;
	border-width:0px;
	border-color:inherit;
	width:inherit;
	z-index:2015;
	margin-left:0px;
	/*order-color:transparent;*/
	height:59px;
	margin-bottom:10px; 
	background:#0000ff;
	margin-top:-1px;
	/*background-image:url('img/people-icon.png');*/
	background-repeat:no-repeat;
	border-top-left-radius:inherit;
	border-top-right-radius:inherit;
}

#section3 .horizontal_section_2 {
	border-style:dashed;
	border-width:0pt;
	width:203px;
	z-index:2015;
	margin-left:0px;
	margin-right:0px;
	padding-right:20px;
	/*order-color:transparent;*/
	height:100px;
	margin-top:20px;
	margin-bottom:0px; 
	background:#ffffff;
	padding-top:0px;
	font-size:15px;
}

.horizontal_section_2 a:link {
	text-decoration:none;
	color:#0000ff;	
}

.horizontal_section_2 a:visited {
	text-decoration:none;
	color:#0000ff;
}

.horizontal_section_2 a:hover {
	text-decoration:none;
	color:#00ffff;
}

.horizontal_section_2 a:active{
	text-decoration:none;
}

#section3 .horizontal_section_3 {
	border-style:dashed;
	border-width:0pt;
	width:208px;
	z-index:2015;
	margin-left:0px;
	/*border-color:transparent;*/
	height:28px;
	margin-top:10px;
	background:#ffffff;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	border-bottom-left-radius:inherit;
	border-bottom-right-radius:inherit;
}

.horizontal_section_3 a{
	text-decoration:none;
	font-size:20px;
	background-color:#ffff00;
}

#section3 ul.options {
	margin-top: 0px;
}