body {
	background:#fff;
	margin:0px;
	font-family:"Arial", "Verdana", "Sans Serif";
	font-size:13px;
	border-color:#fff;
	border:1pt dashed;
}

p {
	margin-bottom:10px;
}

p, li {
	font-size:13px;
	line-height:140%;
}

#global-container {
	margin-top:0px;
	border:0pt none;
	width:auto;
	min-height:100px;
	background:#003242;
	position:relative;
}

#global-container #global-logo-menu-search-signin-container {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border:1pt dashed;
	border-color:#fff;
	min-height:inherit;
}

#global-logo-menu-search-signin-container  #logo-container {
	margin-top:1%;
	margin-left:0%;
	margin-bottom:1%;
	height:80px;
	float:left;
	border:1pt dashed;
	border-color:#fff;
	width:150px;
	display:inline;
	position:relative;
}

#logo-container img {
	height:inherit;
	width:100%;
}

#global-logo-menu-search-signin-container  #menu-search-signin-container {
	float:right;
	display:inline;
	margin-top:1%;
	margin-right:0%;
	margin-left:1%;
	margin-bottom:0%;
	height:80px;
	border:1pt dashed;
	border-color:#fff;
	width:80%;
}

#menu-search-signin-container #signin-container{
	width:auto;
	margin:0%;
	border:0pt none;
	text-align:right;
	position:relative;
	height:20%;
	background-color:#000fff;
}

#signin-container label {
	margin-right:0.5%;
	color:#fff;
	font-size:15px;
}

#menu-search-signin-container #menu-search-container {
	width:auto;
	margin:0% 0% 0% 0%;
	padding:0% 0% 0% 0%;
	border:1pt dashed;
	border-color:#fff;
	
	height:80%;
	position:relative;
}

#menu-search-container #menu-container {
	width:60%;
	float:left;
	border:1pt dashed;
	border-color:#fff;
	margin-bottom:0%;
	height:inherit;
	position:relative;
}

#menu-container ul, #search-container ul {
	list-style-type:none;
	padding:0px;
}

#menu-container ul li {
	display:inline;
	color:#fff;
	font-size:15px;
	padding:0em 1em 0em 1em;
	margin-left:0em;
}

#search-container ul li{
	display:inline;
	color:#fff;
	font-size:14px;
	margin-left:0em;
	margin-bottom:0%;
}

#search-container ul li input[type="text"] {
	width:75%;
}

#menu-search-container #search-container {
	width:38%;
	float:right;
	margin-right:0%;
	border:1pt dashed;
	border-color:#fff;
	margin-bottom:0%;
	height:inherit;
	position:relative;
}


#thin-bar, #second-bar {
	border:0pt none;
	width:100%;
	margin-top:0%;
}

.thin-color-width-pos{
	height:8px;
	background:#c0d2e2
	/* #c0e0e0; */
}

.second-color-width-pos{
	position:absolute;	/* this is the key thing in position various divs relative to each other*/
	height:270px;
	background:#0a709f;
}

#second-bar img {
	margin-top:2.5%;
	margin-left:15%;
	height:70%;
	width:23%;
	float:left;
	position:static;
}

#second-bar label{
	display:inline;
	padding-top:2%;
	margin-left:2%;
	margin-right:18%;
	position:static;
	float:right;
	text-align:left;
	color:#fff;
	font-size:24px;
	
}

#second-bar label ul li {
	font-size:16px;
}

/*
#thin-bar {
	position:relative;
	margin-top:0px;
	border:1pt dashed;
	width:100%;
	height:8px;
	background:#c0e0e0;
}

#second-bar {
	position:relative;
	margin-top:0px;
	border:1pt dashed;
	width:100%;
	height:100px;
	background:#003242;
}
*/