#global_navigation {
	background:#00467f;
	z-index:2000;
	position:relative;
	padding:0pt;
	margin:0pt;
	min-height:100px;
}
#global_navigation img.img_wrapper {
	height: auto;
	width: 112px;
}

div.wrapper {
	width:1010px;
	padding:0px;
	position:relative;
	margin:0px auto;
	border:0pt none;
	outline:0pt none;
	font-size:100%;
	vertical-align:baseline;
	min-height:100px;
}

div.wrapper div#header {
	padding:12px 0px 0px 0px;
	margin:0px;
	border:0pt none;
	outline:0pt none;
	vertical-align:baseline;
	font-size:100%;
	min-height:100px;
}

div.wrapper div#header h1 {
	padding:0px;
	margin:0px;
	width:112px;
	overflow:auto;
	height:auto;
	float: left;
}
div.wrapper div#header h1 a {
	display:inline;
}

.content {
	display:none;
	padding:0px;
	margin:0px;
	border:0px;
}

div.wrapper  div#header .region-primary-navigation {
	margin-top:20px;
	margin-left:150px;	
	width: 780px;
	margin-bottom:0px;
	margin-right:0pt;
	padding:0px 0px 0px 0px;
	border:0pt none;
	outline:0pt none;
	font-size:100%;
	vertical-align:baseline;
	z-index:2005;
}

div.wrapper div#header .block-menu-block {
	padding:0px 0px 0px 0px;
	overflow:auto;
	width:auto;
	/*float:left; /* used for???? */
	margin-top:50px;
	border:0pt none;
	outline:0pt none;
	font-size:100%;
	vertical-align:baseline;
	background:none repeat scroll 0% 0% transparent
}

div.wrapper div#header .region-primary-navigation div#block-search-form {
	clear:both;
	background:#d6e3f0;
	padding:10px;
	display:none;
}

div.wrapper  div#header  ul.menu { 
	list-style-type: none;
	margin: 0px;
	font-size: 15px;
	border:medium none;
	list-style:none outside none;
	text-align:left;
	padding:0pt;
	outline:0pt none;
	vertical-align:baseline;
}

div.wrapper div#header  ul.menu  li {
	display: block;	
	margin: 0px;
	margin-right:15px; /* spacing between the list items */
	float: left;
	list-style-image:none;
	list-style-type:none;
	font-size:14px;
	line-height:150%;
	border:0pt none;
	outline:0pt none;
	vertical-align:baseline;	
}

div.wrapper  div#header  ul.menu  li a { 
	color: #FFF;
	display: block;
	font-size: 20px;
	text-decoration: none;
	/*padding:5px 12px 10px;*/
}

div.wrapper div#header a#signin {
	display:block;
	position:absolute;
	top:15px;
	right:10px;
	color:#FF;
	text-decoration:none;
	
	padding:5px 10px 4px 10px;
	margin-bottom:10px;
	font-size:14px;
	background-color:#003265;
	text-transform:uppercase;
	border-radius:3px;
	
	border:1px solid #000;
	font-family:"Arial Rounded MT Bold";
}


#signin_popup {
	display:none;
}
#search_toggle {
	border:1px solid #000;
	display:block;
	position:absolute;
	height:25px;
	width:26px;
	color:transparent;
	text-indent:-999999px;
	top:15px;
	right:95px;
}

#secondary_navigation {
	background:#d6e3f0;
	min-height:16px;
	z-index:2005;
	position:relative;
	border:medium none;
	clear:both; /* find out its function?? */
}
#secondary_navigation.no_margin {
	margin-bottom:0;
	margin-top:0px;
	border-bottom:0;
}
.clearer {
	width:100%;
	height:0px;
	clear:both;
}